{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
<h1 class="uk-align-center">Modifier le produit</h1>

{{ form_start(form) }}

<section class="custom-form">
    <fieldset class="uk-fieldset">
        <div class="uk-margin">
            {{ form_widget(form.genderCategory) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.name) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.description) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.price) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.size) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.color) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.brand) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.wear) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.category) }}
        </div>

        <div>
            <div class="image-checkbox">
                <img src="{{ asset('uploads/images/' ~ product.mainImage) }}" alt="Image"
                    style="width: 100px; height: auto; margin-left: 10px;" />
            </div>
        </div>

        <div class="uk-margin">
            {{ form_label(form.mainImage) }}
            {{ form_widget(form.mainImage) }}
            {{ form_errors(form.mainImage) }}
        </div>

        <div>
            <div>
                {% for index, image in product.images %}
                <div class="image-checkbox">
                    <img src="{{ asset('uploads/images/' ~ image) }}" alt="Image"
                        style="width: 100px; height: auto; margin-left: 10px;" />
                </div>
                {% endfor %}
            </div>
        </div>

        <div class="uk-margin">
            {{ form_label(form.images) }}
            <p>Attention, le téléchargement d'une ou plusieurs images réinitialisera les images déjà présentes</p>
            {{ form_widget(form.images) }}
            {{ form_errors(form.images) }}
        </div>

        <div class="uk-margin">
            {{ form_widget(form.save) }}
        </div>
    </fieldset>
</section>

{{ form_end(form) }}
{% endblock %}