<div uk-sticky="sel-target: .uk-navbar-container; cls-active: uk-navbar-sticky;">
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar="dropbar: true; dropbar-anchor: !.uk-navbar-container; target-y: !.uk-navbar-container">
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a href="{{ path('home') }}">
                            <img src="{{ asset('assets/images/fmr_logo.png') }}" alt="" style="width: 40px;">
                        </a></li>

                        {# BOUTIQUE #}
                                <li>
                            <a href="#">{{ 'nav.shop'|trans }}</a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-2">
                                <div class="uk-drop-grid uk-child-width-1-3" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active">
                                                <a href="#"><span class="material-symbols-outlined">apparel</span></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"clothes", genderCategory: "femme"}) }}">{{'nav.women'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"clothes", genderCategory: "homme"}) }}">{{  'nav.men'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"clothes", genderCategory: "enfant"}) }}">{{ 'nav.child'|trans }}</a>
                                            </li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"clothes", genderCategory: "tout"}) }}">{{ 'nav.all'|trans }}</a>
                                            </li>                                   
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#"><span class="material-symbols-outlined">
                                                footprint
                                            </span></a>
                                            </li>
                                            <li> <a href="{{ path('product_index', {mainCategory:"shoes", genderCategory: "femme"}) }}">{{ 'nav.women'|trans }}</a></li>
                                            <li> <a href="{{ path('product_index', {mainCategory:"shoes", genderCategory: "homme"}) }}">{{ 'nav.men'|trans }}</a></li>
                                            <li> <a href="{{ path('product_index', {mainCategory:"shoes", genderCategory: "enfant"}) }}">{{ 'nav.child'|trans }}</a></li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"shoes", genderCategory: "tout"}) }}">{{ 'nav.all'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-active"><a href="#"><span class="">
                                                {{ 'nav.accessories'|trans }}
                                            </span></a>
                                            </li>
                                            <li>
                                                <a href="{{ path('product_index', {mainCategory:"accessories", genderCategory: "tout"}) }}">{{ 'nav.all'|trans }}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        {# Vendre #}
                        {% if app.user %}
                        
                        <li><a href="{{ path('product_new') }}">{{ 'nav.sell'|trans }}</a></li>
                        
                        {% else %}
                        
                        <li><a href="{{ path('login') }}">{{ 'nav.sell'|trans }}</a></li>
                        
                        {% endif %}

                        {# UTILISATEUR #}
                        <li>
                            <a href="#"><span uk-icon="icon: user"></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                                <div class="uk-drop-grid uk-child-width-1-2@m uk-grid-large" uk-grid>
                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            {% if app.user %}
                                            <li class="uk-active"><a href="#">{{ 'nav.account.management'|trans }}</a></li>
                                            <li><a href="#">{{ 'nav.account'|trans }}</a></li>
                                            <li class="uk-nav-divider"></li>
                                            <li><a href="{{ path('logout') }}"><span uk-icon="icon: sign-out"></span>
                                                    {{ 'nav.signout'|trans }}</a></li>
                                            {% else %}
                                            <li><a href="{{ path('login') }}"><span uk-icon="icon: sign-in"></span>{{ 'nav.signin'|trans }}</a></li>
                                            <li><a href="{{ path('register') }}">{{ 'nav.signup'|trans  }}</a></li>
                                            {% endif %}
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>

                        {# PANIER #}
                        <li>
                            <a href="#"><span uk-icon="icon: cart"></span></a>
                            <div class="uk-navbar-dropdown uk-navbar-dropdown-width-3">
                                <div class="uk-drop-grid uk-child-width-1-2@m uk-grid-large" uk-grid>

                                    <div>
                                        <ul class="uk-nav uk-navbar-dropdown-nav">
                                            <li class="uk-nav-header">{{ 'nav.basket'|trans }}</li>
                                            <li><a href="#">{{ 'nav.see'|trans }}</a></li>                                    
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-language">
                            <a href="{{ path('change_locale', {'locale': 'fr'}) }}">🇫🇷 FR</a>
                            <a href="{{ path('change_locale', {'locale': 'en'}) }}">🇬🇧 EN</a> 
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>

{# Barre de recherche #}
<nav class="uk-navbar-container uk-navbar" uk-navbar>
    <div class="uk-navbar-center">
        <div class="uk-navbar-item">
            <form class="uk-search uk-search-navbar" method="GET" action="{{ path('product_search') }}">
                <span uk-search-icon></span>
                <input class="uk-search-input" type="search" name="q" placeholder={{ "searchbar.placeholder"|trans }} aria-label="Search" value="{{ app.request.query.get('q') }}">
            </form>
        </div>
    </div>
</nav>
